{% extends 'polls/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Histórico</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid pl-3 py-2 text-light bg-info">
    <h3 class="m-0">Listar do Fluxo Financeiro</h3>
</div>
<!-- Tabela responsiva para telefone -->
<div class="container p-5" style="max-height: 100vh; overflow-y: auto">
    <div class="table-responsive bg-light">
        <!-- Tabela com bootstrap -->
        <table class="table table-striped table-dark ">
            <!-- Titulos da tabela -->
            <tr>
                <th>Ordem</th>
                <th>descricao</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Periodo</th>
                <th>Opções</th>
            </tr>
            <!-- For para listar cada objeto -->
            {% for orcamento in object_list %}
            <tr>
                <td>{{ orcamento.ordem }}</td> <!-- cada campo/coluna a ser imprimida -->
                <td>{{ orcamento.descricao }}</td>
                <td>R$ {{ orcamento.valor }}</td>
                <td>{{ orcamento.categoria }}</td>
                <td>{{ orcamento.periodo }}</td>
                <td>
                    <a href="{% url 'editar-orcamento' orcamento.pk %}" title="Editar">
                        <i class="fa fa-edit px-1 text-light"></i>
                    </a>
                    <a href="{% url 'excluir-orcamento' orcamento.pk %}" title="Excluir">
                        <i class="fa fa-trash px-2 text-light"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum campo registrado.</td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}